<div class="page page-dashboard"> <div class="pageheader"> <h2>{{page.title}}</h2> <div class="page-bar"> <ul class="page-breadcrumb"> <li> <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a> </li> <li> <a ui-sref="app.datafiles">{{page.title}}</a> </li> </ul> </div> </div> <!-- cards row --> 

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="container-fluid">
			<div class="file-manager">
				<div class="file-header">
					<div class="col-md-2 col-sm-4 col-xs-12 col-lg-2">
						<div class="file-head-left">
							<img src="images/folder-icon2.png" class="img-responsive">
							<span>File Manager</span>
						</div>
					</div>
					<div class="col-md-9 col-md-offset-1 col-sm-8 col-xs-12 col-lg-9 col-lg-offset-1">
						<div class="file-head-right">
							<img src="images/folder-icon2.png" class="img-responsive">
							<span>File Manager</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div> <!-- /row --> <!-- row --> <div class="row"> <!-- col --><section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl"> <!-- tile header --></section> <!-- /tile --> </div> <!-- /col --> </div>