				
				<!-- START: FOOTER -->
<section id="footer">
	<footer>
		<div class="row main-footer-sub">
			<div class="container clear-padding">
				<div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
					<form >
						<label>Subscribe To Our Newsletter</label>
						<div class="clearfix"></div>
						<div class="col-md-9 col-sm-8 col-xs-6 clear-padding">
							<input class="form-control" type="email" required placeholder="Enter Your Email" name="email">
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 clear-padding">
							<button type="submit"><i class="fa fa-paper-plane"></i>Subscribe</button>
						</div>
					</form>
				</div>
				<div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
					<!--div class="social-media pull-right">
						<ul>
							<li><a href="#" style="padding:10px 15px !important;"><i class="fa fa-facebook fb"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter fb"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram fb"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus fb"></i></a></li>
							<li><a href="#"><i class="fa fa-youtube fb"></i></a></li>
						</ul>
					</div-->
					<section class="social pull-right">
  <a href="" class="icon fb"><i class="fa fa-facebook"></i></a>
  <a href="" class="icon tw"><i class="fa fa-twitter fb"></i></a>
  <a href="" class="icon tw"><i class="fa fa-instagram fb"></i></a>
  <a href="" class="icon gp"><i class="fa fa-google-plus fb"></i></a>
  <a href="" class="icon gp"><i class="fa fa-youtube fb"></i></a>
</section>
				</div>
			</div>
		</div>
		<div class="main-footer row">
			<div class="container clear-padding">
				<div class="col-md-4 col-lg-4 col-xs-12 col-sm-6 about-box">
					<h3>DMPHub</h3>
					<p>DMPHub is a platform that will enable the small-and-midsize-business (SMB) market to manage, maintain, and enhance their customer and prospect data. It will be a cloud base platform that will allow users to easily conduct numerous DM and DP tasks to ensure the quality and integrity of their data.</p>
					<a href="#">Read More</a>
				</div>
				<div class="col-md-4 col-lg-4 col-xs-12 col-sm-6 links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Email Verification & Hygiene</a></li>
						<li><a href="#">Postal Address Verification & Hygiene</a></li>
						<li><a href="#">Phone Verification</a></li>
						<li><a href="#">List Quality Analysis</a></li>
						<li><a href="#">Data De-Duplication</a></li>
						<li><a href="#">Data Enhancement</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-lg-4 col-xs-12 col-sm-6 contact-box">
					<h4>Contact Us</h4>
					<p><i class="fa fa-home"></i>DMPHub</p>
					<p><i class="fa fa-phone" style="padding:11px 13px !important;"></i>1234567890</p>
					<p><i class="fa fa-envelope-o"></i> support@domain.com</p>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12 text-center we-accept">
					<h4>We Accept</h4>
					<ul>
						<li><img src="assets/images/card/mastercard.png" alt="cruise"></li>
						<li><img src="assets/images/card/visa.png" alt="cruise"></li>
						<li><img src="assets/images/card/american-express.png" alt="cruise"></li>
						<li><img src="assets/images/card/mastercard.png" alt="cruise"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-footer-nav row">
			<div class="container clear-padding">
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
					<p>Copyright &copy; 2016 All Rights Reserved, DMPHub.</p>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 text-right">
					<a href="#">Terms & Conditions</a> |
					<a href="#">Privacy Policy</a> |
					<a href="#">Sitemap</a>
				</div>
			</div>
			<div class="container clear-padding">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
					<a href="http://betabulls.com/"><img src="assets/images/betabulls.png" class="img-responsive footer-img pull-right" /></a>
				</div>
			</div>
		</div>
	</footer>
</section>
<!-- END: FOOTER -->
