<script>
// Show full page Loading Overlay
$.LoadingOverlay("show");
// Hide it after 3 seconds
setTimeout(function(){
    $.LoadingOverlay("hide");
}, 1500);
</script>

<!-- BEGIN: SITE-WRAPPER -->
<div class="site-wrapper">

	
<!-- START: FOOTER -->
<section id="footer">
	<footer>
		
		<div class="main-footer row main-bg">
			
			<!--phone block-->
				<div class="container clear-padding main-sub">
				
				<div class="col-md-12 text-left we-accept">
					<div class="email-header" style="float: left;">
						<h4><span style="padding-right: 15px"><img src="assets/images/phone2.png"></span>Phone Summary</h4>
					</div>
					<div style="float: right;padding-right: 35px;">
					<a href="assets/excel/Phone.xlsx"><img src="assets/images/download16.png"></a>
					<img src="assets/images/delete16.png" style="padding-left: 5px;">
					</div>
				</div>
				<div class="col-md-12">
					<div  style="margin:0px 10px 0px 10px">
						<div class="row">
							<div class="col-md-3 col-sm-6 links">
								<div class="email-header">
									<h3>Records Verified: 100</h3>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 links">
								<div class="email-header">
									<h3>Total Cost: $20.53</h3>
								</div>
							</div>
						</div>
						<div  style="border-bottom:1px solid #b3b3b3;margin:0px 10px 0px 10px">
						
						</div>
					</div>
				</div>

				<div style="padding: 0px 16px 0px 20px;">
				<div class="col-md-12">
					<div style="margin-top:10px">
						<div style="float: left;margin-right:5px">
							<p style="color: #9b9b9b;">Status: <span style="color:#1c2857;">Completed</span><span style="color:#000;border-right:1px solid #000;padding:0 10px"></span></p>
						</div>
						<div style="float: left;margin-right:5px">
							<p style="color: #9b9b9b;">Total Phone Numbers: <span style="color:#1c2857;">100</span><span style="color:#000;border-right:1px solid #000;padding:0 10px"></span></p>
						</div>
						<div>
							<p style="color: #9b9b9b;">Run Time: <span style="color:#1c2857;">0.5 min</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="progress">
        <div class="progress-bar valid-email progress-bar-striped active" style="width: 85%">
            Valid (85%)
        </div>
        <!--div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 0%">
            Mobile(0%)
        </div-->
        <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 15%">
            Invalid(15%)
        </div>
		<!--div class="progress-bar progress-bar-primary progress-bar-striped active" style="width: 10%">
            Landline(10%)
        </div-->
    </div>
				</div>
				<div class="col-md-12 links">
					<div class="row">
						<div class="col-sm-3">
							<div class="tile-progress valid-email valid-check">
								<div class="tile-header">
									
									<h3 class="col-md-6 col-lg-6 text-left">Valid</h3>
									<p class="col-md-6 col-lg-6 text-center" style="font-weight:700; font-size:18px; margin-top:-4px;">85
									<a href="assets/excel/phone-valid.xlsx"><span class="fa fa-download download-btn"></span></a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
						<div class="tile-progress tile-mobile mobile-check">
							<div class="tile-header">
								<h3 class="col-md-6 col-lg-6 text-left">Mobile</h3>
								<p class="col-md-6 col-lg-6 text-center" style="font-weight:700; font-size:18px; margin-top:-4px;padding-right:28px;">60
								
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="tile-progress tile-landline landline-check">
							<div class="tile-header">
								<h3 class="col-md-8 col-lg-8 text-left">Land Line</h3>
								<p class="col-md-4 col-lg-4 text-center" style="font-weight:700; font-size:18px; margin-top:-4px;padding-right:28px;">25</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3">
							<div class="tile-progress tile-red invalid-check">
								<div class="tile-header">
									<h3 class="col-md-6 col-lg-6 text-left">Invalid</h3>
									<p class="col-md-6 col-lg-6 text-center" style="font-weight:700; font-size:18px; margin-top:-4px;">15
									<a href="assets/excel/phone-invalid.xlsx"><span class="fa fa-download download-btn"></span></a>
									</p>
								</div>
							</div>
						</div>
					<!--div class="col-sm-4">
						<div class="tile-progress tile-green">
							<div class="tile-header">
								<h3>Digital</h3>
								<span>1,020</span>
							</div>
							<div class="tile-progressbar">
								<span data-fill="94%" style="width: 94%;"></span>
							</div>
							<div class="tile-footer">
								<h4>
									<span class="pct-counter">94</span>% 
								</h4>
								<!-- <span>so far in our blog and our website</span> -->
							<!--/div>
						</div>
					</div-->
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-12 col-sm-6">
					<div class="col-md-3 col-sm-6">
						<div id="test-circle2"></div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div id="test-circle3"></div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div id="test-circle5"></div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div id="test-circle4"></div>
					</div>
				</div>
				
				</div>
				<div class="clearfix"></div>
				
			</div>
			<!--end of phone block-->
			
		</div>
		
	</footer>
</section>
<!-- END: FOOTER -->

</div>
<!-- END: SITE-WRAPPER -->
	
<script src="assets/js/jquery.circliful.js"></script>
<script>
$(document).ready(function() { // 6,32 5,38 2,34
        $("#test-circle2").circliful({
            animation: 0,
            animationStep: 6,
            foregroundBorderWidth: 15,
			foregroundColor: "#1c2857",
            backgroundColor: "none",
            fillColor: '#eee',
            percent: 85,
            iconColor: '#1c2857',
            icon: 'f058',
            iconSize: '40',
            iconPosition: 'middle'
        });
		
		$("#test-circle3").circliful({
            animation: 0,
            animationStep: 6,
            foregroundBorderWidth: 15,
			foregroundColor: "#d4af37",
            backgroundColor: "none",
            fillColor: '#eee',
            percent: 73,
            iconColor: '#d4af37',
            icon: 'f10b',
            iconSize: '40',
            iconPosition: 'middle'
        });
		
		$("#test-circle5").circliful({
            animation: 0,
            animationStep: 6,
            foregroundBorderWidth: 15,
			foregroundColor: "#e1d11f",
            backgroundColor: "none",
            fillColor: '#eee',
            percent: 27,
            iconColor: '#e1d11f',
            icon: 'f098',
            iconSize: '40',
            iconPosition: 'middle'
        });
		
		$("#test-circle4").circliful({
            animation: 0,
            animationStep: 6,
            foregroundBorderWidth: 15,
			foregroundColor: "#f56954",
            backgroundColor: "none",
            fillColor: '#eee',
            percent: 15,
            iconColor: '#f56954',
            icon: 'f057',
            iconSize: '40',
            iconPosition: 'middle'
        });
});

</script>
