	<div class="row upload-file">
		<div class="container">
			<h3 class="text-center">Select A File to Upload</h3>
			<hr style="width:100%; height:2px; background-color:#1c2857;">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 folders">
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder">
					<img src="assets/images/folder.png" class="center-block">
					<p>Images</p>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder" >
					<img src="assets/images/folder.png" class="center-block">
					<p>Files</p>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder">
					<img src="assets/images/folder.png" class="center-block">
					<p>Documents</p>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder">
					<img src="assets/images/folder.png" class="center-block">
					<p>Applications</p>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder">
					<img src="assets/images/folder.png" class="center-block">
					<p>Downloads</p>
				</div>
				<div class="col-md-1 col-lg-1 col-sm-2 col-xs-6 folder" id="folder">
					<img src="assets/images/Excel.ico" class="center-block" onclick="myfunction()">
					<p>Postal.xlsx</p>
				</div>
			</div>
			<a type="submit" id="disableButton" href="#postalupload" class="search-button btn transition-effect enableOnInput" disabled="disabled"  style="float:right; margin-right:20px;">Upload&nbsp;&nbsp;<i class="fa fa-upload"></i></a></div>
		</div>
	</div>