<div class="upload-file">
	<div class="row">
		<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 bhoechie-tab-menu">
              <div class="list-group">
                <a href="" class="list-group-item active text-center">
                  <img src="assets/images/desktop-pc.png" class="img-responsive center-block" />From Local
                </a>
                <a href="" class="list-group-item text-center">
                  <img src="assets/images/drive.png" class="img-responsive center-block" />From Google Drive
                </a>
				<a href="" class="list-group-item text-center">
                  <img src="assets/images/dropbox-logo.png" class="img-responsive center-block" />From Dropbox
                </a>
				<a href="" class="list-group-item text-center">
                  <img src="assets/images/box.png" class="img-responsive center-block" />From Box
                </a>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                      <form id="upload" method="post" enctype="multipart/form-data">
						<div id="drop">
							<div class="drophere">
								<h3 class="color">Drop Here</h3>
								<p class="color">or</p>
								<h4 class="color">Select a File</h4>
								<a id="browse" class="hidden-xs">Browse</a>
								<input type="file" name="file-1[]" name="file-1"  id="file-1" class="inputfile inputfile-1"/>
								<!-- <input type="file" name="upl" onchange="txtchange()" multiple /></br> -->
							</div>
							<a id="browse" class="visible-xs mbl-button">Browse</a>
						</div>
						<div id="drop2">
							<div class="control-group">
							<h5 class="text-center">Select Verification type</h5>
								<label class="control control--radio">Email
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Postal Address
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Phone
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
							</div>
						</div>
	
			<ul>
				<!-- The file uploads will be shown here -->
			</ul>

		</form>
		<button type="submit" class="btn search-button center-block" disabled="disabled" id="disableButton" onclick="location.href='#uploadphone';">Verify</button>
                    </center>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
				<form id="upload">
                    <center>
					<div id="drop">
                      <h4 class="text-center" style="color:#1c2857; margin-top:40px;">Upload a File from Google Drive</h4>
					<a type="submit" id="gdrive_file_selector" class="btn search-button">Choose a File</a></br>
					<input id="gdrive_file" type="text" readonly />
					</div>
					<div id="drop2">
							<div class="control-group">
							<h5 class="text-center">Select Verification type</h5>
								<label class="control control--radio">Email
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Postal Address
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Phone
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
							</div>
						</div>
					
	<!--div class="container" ng-controller="ExampleCtrl" ng-init="initialize()">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="text-center">
            <img src="images/logo-drive.png" class="logo" alt="Drive logo" />
            <div class="heading-headline">
              Angular Google Picker {{ selectedLocale.name }}
            </div>

            <p>
              The plugin also support locales, which allow you to open the Picker using the language of your choice :
              <a href="#" data-toggle="modal" data-target="#language">Select a language</a>
            </p>

            <div>
              <a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" class="btn btn-2 btn-2c btn-blue">
                <i class="fa fa-inbox"></i>
                <span>Pick files</span>
              </a>

              <a href="https://github.com/softmonkeyjapan/angular-google-picker" class="btn btn-2 btn-2c btn-blue">
                <i class="fa fa-github"></i>
                <span>Fork me</span>
              </a>
            </div>
          </div>

          <div class="row dashed-border" ng-switch="files.length > 0">
            <div class="text-center" ng-switch-when="false">
              <div class="none">No files selected yet</div>
            </div>

            <div ng-switch-when="true">
              <div class="col-sm-4 item item-test" ng-repeat="file in files">
                <a href="{{ file.url }}" target="_blank">
                  <div class="icon">
                    <div class="document">
                      <span class="ng-binding">
                        {{ file.name | getExtension }}
                      </span>
                    </div>
                  </div>
                  <span>{{ file.name | limitTo:20 }}</span><span ng-if="file.name.length >=20">...</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div-->
					
					
					
                    </center>
				</form>
				<button type="submit" class="btn search-button center-block" disabled="disabled" id="disableButton2" onclick="location.href='#uploadphone';">Verify</button>
    
                <!-- hotel search -->
                
            </div>
    
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
				<form id="upload">
                    <center>
					<div id="drop">
                      <h4 class="text-center" style="color:#1c2857; margin-top:40px;">Upload a File from Dropbox</h4>
							<input id="chooser" type="dropbox-chooser" name="selected-file" class="center-block" data-link-type="preview" readonly />
					</div>	
					<div id="drop2">
							<div class="control-group">
							<h5 class="text-center">Select Verification type</h5>
								<label class="control control--radio">Email
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Postal Address
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Phone
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
							</div>
						</div>
                    </center>
				</form>
				<button type="button" class="btn search-button center-block" id="disableButton3">Verify</button>
            </div>
                <div class="bhoechie-tab-content">
				<form id="upload">
                    <center>
					<div id="box-popup">
                      <h4 class="text-center" style="color:#1c2857; margin-top:40px;">Upload a File from Box</h4>
					 
<button id="box-select" type="button" class="btn search-button center-block" data-link-type="shared" data-multiselect="false" data-client-id="5gv6e9ncnxh7l9c1032d6gr34prper5x">Choose a File</button>
<a class="center-block" id="box-link" target="_blank"></a>
					<div id="drop2">
						<div class="control-group">
							<h5 class="text-center">Select Verification type</h5>
								<label class="control control--radio">Email
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Postal Address
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">Phone
									<input type="radio" name="radio"/>
									<div class="control__indicator"></div>
								</label>
						</div>
					</div>
					</div>
                    </center>
				</form>
				<button type="button" class="btn search-button center-block" id="disableButton4">Verify</button>
    
                <!-- hotel search -->
                
            </div>
            </div>
        </div>
		</div>
		</div></div>

		<script>
	
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
</script>
<script src="assets/js/jquery.ui.widget.js"></script>
		<script src="assets/js/jquery.iframe-transport.js"></script>
		<script src="assets/js/jquery.fileupload.js"></script>
		<script src="assets/js/jquery.knob.js"></script>
		<!-- Our main JS file -->
		<script src="assets/js/script.js"></script>

		<script src="assets/js/jquery-gdrive.js"></script>
		<script>
		$(document).ready(function() {
				$().gdrive('init', {
					'devkey': 'AIzaSyC1ch5YUXLvVw6_zCnbIfPT782XQ3XXNw4',
					'appid': '686156106194-0b3vsie8hommbv8g01n7jhij7nkt7kl9.apps.googleusercontent.com'
				});
				
				$('#gdrive_file').gdrive('set', {
					'trigger': 'gdrive_file_selector', 
					'header': 'Select a file', 
					'filter': ''
				});
			});
		</script>
		<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

<script type="text/javascript" src="https://app.box.com/js/static/select.js"></script>
	  <script type="text/javascript">
$('#disableButton3').click(function(){
		var value=$('#chooser').val();
		if(value==""){
		alert("Please select any file")
		}
		else
		{
	window.location.href = "#uploadphone";		
		}
		});
</script>
<script>
var options = {
  clientId:'5gv6e9ncnxh7l9c1032d6gr34prper5x',
  linkType: 'shared',
  multiselect: 'true'
};

var boxSelect = new BoxSelect(options);

// Register a success callback handler
boxSelect.success(function(response) {
var fileNames = [];
var sharedLinks = response;

console.log(response);
debugger;
//Get current value for file-list div
//var currentStr = document.getElementById("file-list").innerHTML;

//Add sharedLinks to file-list div with file names as anchor text
for (var i=0; i<sharedLinks.length; i++) {
  $('#box-link').attr('href',response[i].url);
  $('#box-link').html(response[i].url);
}

});

// Register a cancel callback handler
boxSelect.cancel(function() {
});
</script>
<script>
		$('#disableButton4').click(function(){
		var value=$('#box-link').html();
		if(value==""){
		alert("Please select any file")
		}
		else
		{
	window.location.href = "#uploadphone";		
		}
		});
		</script>
		<script type="text/javascript" src="assets/js/dropins.js" id="dropboxjs" data-app-key="jrcl6k5obgzumgj"></script>