
@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}


/*  Custom CSS Code  */

.flight-details .modal-dialog {margin-top:140px;}

	a {text-decoration:none;}
	a:hover, a:focus, a:active { text-decoration:none;}
	
.flight-details .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details .input-group {border:2px solid #F7941D; color:#F7941D;background:transparent;}
.flight-details .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details input{ border:none;}

.btn-primary {background-color:#F7941D !important; color:#fff; font-weight:700; border:none; margin-bottom:10px;}
.btn-primary:hover {background-color:#fff !important; color:#F7941D !important; border:2px solid #F7941D;}

.form-group a {color:#F7941D; font-size:17px; text-decoration:none; font-weight:500;margin-top:5px;}
.form-group a:hover {color:#F7941D !important;}

.flight-details2 .modal-dialog {margin-top:40px;}

	a {text-decoration:none;}
	
.flight-details2 .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details2 .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details2 .input-group {border:2px solid #e5e5e5; color:#F7941D;background:transparent;}
.flight-details2 .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details2 input{ border:none;}


.register {background:transparent; color:#F7941D; border:none;}



@media (max-width: 767px) {
	.search-section {margin-top:300px !important;}

}
@media (min-width: 768px) and (max-width: 991px) {
	.search-section {margin-top:280px !important;}
}


.forms { background-color:#fff; padding:20px 10px;overflow:hidden; padding-left:20px !important;}

.forms h2 { font-family: Narkisim !important; color:#F7941D; }



.offer-slider .owl-theme .owl-dots .owl-dot span {display:none;}

.td-overlay {padding:25px 0px 5px;}

.page-title {padding:60px 0px 30px 0px;}

.contact-address {padding:10px 0px;}

.offer-slider .item {color:#fff; FONT-WEIGHT:800; background: rgba(0, 0, 0, 0.5); padding-left:10px;}
.offer-slider .item h3 {line-height:50px;}

.choose-us-row { padding:25px 0px;}


#pricing-table { margin:23px auto;}

.search-section { margin-top:20px !Important;}

.navbar-toggle {background-color:#000 !important;}




@media screen and (max-width: 409px) and (min-width: 320px) {

.user-logged { margin-bottom:20px;}

#pricing-table #most-popular {top:0px !important;}

.bhoechie-tab-container {padding: 0px 0px 20px 0px !important;}

.active {
    background-color: #d4af37 !important;
    color: #fff;
    padding: 15px 15px 15px 15px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}
.suri {
    float: left;
    background: rgba(10, 49, 82, 0.5);
    color: #fff;
    padding: 10px 15px 10px 15px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}

.submit-review {

    padding: 10px 37px !important;
}
}
@media screen and (max-width: 991px) and (min-width: 410px) {
	 
	#pricing-table #most-popular {top:0px !important;}
	
	
	.user-logged { width:45%; margin-bottom:20px;}
	
	#supersized img {max-width:100%;height:400px !important;display:block}
 
 .full-width-search {height:400px !important; width:100%;}
 
 .tran-search-box {margin-top:-40px !important;}
 .section-title {padding-top:0px !Important;}
	
}
.navbar-default .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 992px) and (max-width: 1095px) {
	.transparent-menu .navbar-nav > li > a {padding:10px 8px !important;}
}

.transparent-menu .navbar-nav > li > a {text-transform:none !important;}


#supersized img {max-width:100%;height:auto;display:block}
@media screen and (max-width: 409px) and (min-width: 320px) {
 #supersized img {max-width:120%;height:420px !important;display:block; margin-top:-15px;}
 
 .full-width-search {height:430px !important; width:100%;}
 
 .tran-search-box {margin-top:-70px; padding-left:8px !important;}
 .section-title {padding-top:0px !Important;}
 .ch-grid li {height:390px !important;}
 #mainView {padding:0 0 15px 0 !Important;}
 .mbl-search {margin-left:-30px;}
 .main-footer-nav>div>.text-right {text-align:left !Important;}
 .social a {margin-right:13px !Important;}
 .main-footer-sub.pull-right{float:left !important;}
 
 #gdrive_file_selector {padding:9px 5px !important; font-size:14px !important;}
#box-select {padding:9px 5px !important; font-size:14px !important;}
 
 
}

@media screen and (max-width: 767px) and (min-width: 425px) {
	
	#supersized img {height:470px !important;display:block; margin-top:-15px;}
	.tran-search-box {margin-top:-65px !important; padding-left:8px !important;}
	
	 .suri {padding: 10px 20px !important;}
 .suri.active {padding: 10px 20px !important;}
 
  #mainView {padding:0 0 10px 0 !Important;}
 
	
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	
	#supersized img {display:block; margin-top:-15px;}
	
	.tran-search-box { padding-left:8px !important;}
	
}


@media screen and (max-width: 1220px) and (min-width: 1024px) {
	
	.tran-search-box { padding-left:0px !important;}
}



@media screen and (max-width: 319px) and (min-width: 275px) {
	
	 #supersized img {max-width:140%;height:450px !important;display:block}
	.navbar-brand>img { 
	 margin-top: -95px !important;
    margin-left: -30px !important;
}
 
 .full-width-search {height:420px !important; width:100%;}
 
 .tran-search-box {margin-top:-68px; padding-left:8px !important;}
 .section-title {padding-top:0px !Important;}
 .suri {padding: 6px 15px 6px 15px !important;}
 .suri.active {padding: 6px 15px 6px 15px !important;}
 #mainView {padding:0 0 10px 0 !Important;}
 
 .mbl-search {margin-left:-30px;}
 .ch-grid li {height:440px !important;}
 #pricing-table .plan {margin-bottom:20px !important;}
	
}


.mail-dropdown {padding:10px; width:100%;}
.phone-dropdown {padding:10px; width:100%;}

.or-text { margin-right:12px; margin-top:24px; float:left; color:#fff; font-size:18px; margin-left:18px; }

/*   Verify POPup   */

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 19px;
    color: #1c2857;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #1c2857; font-size:16px;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-custom .modal-header { 

border-bottom: 3px solid #1c2857;


 }

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}


.btn-success:hover {color:#fff;}
.btn-danger:hover {color:#fff;}
.check-icon {color:green; font-size:40px !important;}
.close-icon {color:red; font-size:40px !important;}

.wrong-phone {margin-top:110px;}
.right-phone {margin-top:110px;}

.upload-file {
    padding: 100px 0px;
    background: #f7f7f7;
    overflow: hidden;
}

.folder {padding:5px 0px; background-color:#fff; margin-right:20px; float:left; cursor:pointer;}
.folder img {width:70%;}
.folder p {text-align:center;}

.mynewclass {background:rgba(84, 116, 243, 0.4); padding:5px 0px; margin-right:20px; float:left; border-radius:10px; cursor:pointer;}
.mynewclass img {width:70%;}
.mynewclass p{text-align:center;}

.folders {margin-top:30px; margin-bottom:40px;}


/* Phone Validation Report CSS  */


.main-sub{
    background-color: #fff;
    padding: 15px !important;
    border-radius: 6px; margin-top:65px;margin-bottom:30px;
}

.mymain-footer {
	 margin-top: 25px;
}

.main-footer-sub-button {
    height: 40px;
    border:1px solid #0061b8;
    background: none;
    color: #0061b8;
    width: 100%;
    font-weight: bold;
    
}
.email-header h4 {
	
    color: #1e1f21;
    margin-top: 0px;
    text-transform: inherit;
    font-weight: 600 !important;
    margin-bottom: 15px;
    letter-spacing: 1px;
	

}
.email-header h3 {
	color: #1e1f21;
    margin-top: 0px;
    text-transform: inherit;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 16px;
	margin-left:-3px;
}
.ilist-icon {
	padding-left:20px;
}
.ilist-clr {
	color:#b3b3b3 !important;
}
.badge.bg-info {
    background: #57be93;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge1.bg-info {
    background: #f36c4f;
}
.badge1 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge2.bg-info {
    background: #707070;
}
.badge2 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge3.bg-info {
    background: #c2d0d0;
}
.badge3 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge4.bg-info {
    background: #FFFFFF;
}
.badge4 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #b3b3b3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge5.bg-info {
    background: #f4b966;
}
.badge5 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge6.bg-info {
    background: #c1db9d;
}
.badge6 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge7.bg-info {
    background: #72cef7;
}
.badge7 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.main-footer {
  
    background: #07253F; padding-bottom:15px !important;
}

.main-footer .links ul, .we-accept ul, .main-footer-nav ul {
    list-style-type: none;
    padding: 0px;
}
.clear-padding {
    padding: 0;
}
.we-accept {
    padding: 17px 0px 0px;
}



/*progress report*/
.tile-progress {
background-color: #5cb85c;
color: #fff; padding-top:14px; overflow:hidden;
}
.tile-progress {
background: #5cb85c;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.tile-progress .tile-header {
    padding: 2px 10px; overflow:hidden;
    /* padding-bottom: 40px; */
}
.tile-progress .tile-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.tile-progress .tile-progressbar span {
background: #fff;
}
.tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
padding:1px 8px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
background-color: #f56954;
color: #fff;
}
.tile-progress {
background-color: #5cb85c;
color: #fff;
}
.tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}

.tile-progress.tile-mobile {
background-color: #d4af37;
color: #fff;
}

.tile-progress.tile-landline {
background-color: #e1d11f;
color: #fff;
}

.tile-progress.tile-aqua {
background-color: #00c0ef;
color: #fff;
}
.tile-progress.tile-green {
background-color: #00a65a;
color: #fff;
}
.tile-progress.tile-cyan {
background-color: #00b29e;
color: #fff;
}
.tile-progress.tile-purple {
background-color: #ba79cb;
color: #fff;
}
.tile-progress.tile-pink {
background-color: #ec3b83;
color: #fff;
}
.tile-header h3 {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 20px;
}

/*progress horizontal bar*/

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar-success {
    background-color: #5cb85c;
 
}
.progress-bar-warning {
    background-color: #0073b7;

}
.progress-bar-danger {
    background-color: #d9534f;
  
}
.progress-bar-primary {
    background-color: #00c0ef;
  
}

.progress-bar.active {margin-right:0px !important; border-radius:0px !important; line-height:0px !Important; padding-top:10px !Important;}

.valid-check{position:relative;}

.valid-check:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -60px;
  left: 155px;
  content:  "\f00c"; font-size:90px; opacity:0.3;
}

.invalid-check{position:relative;}

.invalid-check:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -60px;
  left: 176px;
  content:  "\f00d"; font-size:90px; opacity:0.3;
}

.mobile-check{position:relative;}

.mobile-check:before {
  position: absolute;
  font-family: 'FontAwesome';
 top: -60px;
  left: 196px;
  content: "\f10b"; font-size:90px; opacity:0.3;
}

.landline-check{position:relative;}

.landline-check:before {
  position: absolute;
  font-family: 'FontAwesome';
 top: -60px;
  left: 167px;
  content: "\f095"; font-size:90px; opacity:0.3;
}

#test-circle2{padding-right:20px;}
#test-circle3{padding-right:20px;}
#test-circle4{padding-right:20px;}
#test-circle5{padding-right:20px;}

/* End Report  */


	
/* Email Report  */

.email-icon {
    /* float: left; */
    padding-left: 35px;
    width: 100%;
    text-align: center;
}
.email-icon span {width:11%; float:left; padding-right:7px;}

.email-icon h4{color: #1e1f21;
    margin-top: 7px;
    text-transform: inherit;
    font-weight: 600 !important;
    margin-bottom: 15px;
    letter-spacing: 1px;}
	
.email-blocks {margin-top:28px;margin-left: 25px;}

.email-progress {
background-color: #5cb85c;
color: #fff; overflow:hidden;
}
.email-progress {
background: #5cb85c;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.email-progress .email-icon-header {
  overflow:hidden;
    /* padding-bottom: 40px; */
}
.email-progress .email-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.email-progress .email-progressbar span {
background: #fff;
}
.email-progress .email-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.email-progress .email-footer {
padding:1px 8px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.email-progress.email-red {
background-color: #f56954;
color: #fff;
}
.email-progress {
background-color: #5cb85c;
color: #fff;
}
.email-progress.email-blue {
background-color: #0073b7;
color: #fff;
}

.email-progress.email-gold {
	background-color:#d4af37;
	color:#fff;
	
}

.email-progress.email-dark-blue {
	background-color:#1c2857;
	color:#fff;
	
}
.email-progress.email-aqua {
background-color: #00c0ef;
color: #fff;
}
.email-progress.email-green {
background-color: #00a65a;
color: #fff;
}
.email-progress.email-cyan {
background-color: #00b29e;
color: #fff;
}
.email-progress.email-purple {
background-color: #ba79cb;
color: #fff;
}
.email-progress.email-pink {
background-color: #ec3b83;
color: #fff;
}

.email-risk {background:red;}
.email-icon-header h5{margin-top:0px;margin-bottom:0px; line-height:20px !important;}

#svg {
  width: 500px;
  height: 300px;
}

.email-progress p{margin-bottom:0px !important;}

.download-btn {margin-left:19px; margin-right:5px; color:#fff;}

.suri-table {width:60%; margin:10px auto;margin-left: 35px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none !important;
}
.suri-table td {border:none !important;}


.email-result {text-align:left;}

.suri-email {width:500px !important;margin-top:110px;}

.valid{color:green;}
.invalid {color:red;}

.recaptcha {margin:20px 0px 10px 0px;}

.email-label {font-weight:700; text-align:right; padding-left:75px !important;}

.phone-table {width:80%; margin:10px auto; margin-left:80px;}
.phone-table td {border:none !important;}

.phone-label {font-weight:700; text-align:right;}
.phone-result {text-align:left;}

.phone-label-wrong {font-weight:700; text-align:right;}
.phone-result-wrong {text-align:left;}

.phone-table-wrong {width:60%; margin:10px auto; margin-left:90px;}
.phone-table-wrong td {border:none !important;}

.progress-bar-unknown { background-color:#d4af37;}

.zipcode-table {width:65%; margin:10px auto;}
.zipcode-table td {border:none !important;}

.btn-custom {background-color: #d4af37;
    border: none; color:#fff !important;}
	
	.btn-custom:hover {background-color:#b18b0f !important; color:#fff !important;}
	
	.valid-email {background-color:#1c2857;}
	.disposal-email {background-color:#e1d11f;}
	
	/*  Upload File   */
	
	.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    font-size: 15px;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding:10px 7px; text-transform:none !important; margin-top:15px; border-radius:7px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d4af37;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #d4af37;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

.upload-btn { padding:9px 10px !important;}

#changeFilene {color:#fff;}

.signup-select {width:100%; height:35px; padding:5px; color:#333 !important; border-radius:7px;}

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0px 0px 20px 40px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0; color:#1c2857; font-size:14px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #1c2857;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #d4af37;
  color: #1c2857; font-size:13px;
}

div.bhoechie-tab-menu div.list-group>a.active img {width:30%; margin-bottom:10px;}

div.bhoechie-tab-menu div.list-group>a img {width:30%; margin-bottom:10px;}

div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #d4af37;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/* File Drop */

#dragandrophandler
{
border:2px dotted #0B85A1;
width:400px;
color:#92AAB0;
text-align:left;vertical-align:middle;
padding:10px 10px 10 10px;
margin-bottom:10px;
font-size:200%;
}
.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}
 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px; 
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:700px;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
width:250px;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:100px;
margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }
	
	
	div.bhoechie-tab-menu div.list-group {width:95% !important; margin-top:40px;}
	
	#gdrive_file {border:none; color:#1c2857; text-align:center; width:65%; margin-top:10px;}
.control-group {
	display: inline-block;
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

.control {
	font-size: 15px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 20px; float:left;
	cursor: pointer; margin-right:13px; margin-left:13px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 4px;
	left: 0;
	width: 12px;
	height: 12px;
	background: #4d6eef; border:2px solid #1c2857
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #d4af3d;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #d4af3d;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #d4af3d;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}


/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 0px;
	left: 0.2px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #d4af3d;
}
.control input:checked ~ .control__indicator:after .control__indicator {background:#fff !important;}


/*----------------------------
    The file upload form
-----------------------------*/


#upload{

    background-color:#1c2857;
    padding:30px;
    border-radius:3px;
	margin:10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); margin-top:30px;
}

#drop{
    background-color: #fff;
    padding: 1px 30px 5px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;

    color:#1c2857;
}

#drop2 {background-color: #fff;
    padding: 0px 30px 0px 30px;
    text-align: center;
    text-transform: uppercase;
    font-size:14px !important;

    color:#1c2857;}

#drop h4 {color:#1c2857; text-transform:none !important;}


#drop a{
    background-color:#ca9f16;
    padding:9px 30px;
    color:#fff !important;
    font-size:15px; font-weight:normal !important;
    border-radius:7px;
    cursor:pointer;
    display:inline-block;
    margin-top:1px; text-transform:none !important;
    letter-spacing:1px;
}

#drop a:hover{
    background-color:#b18b0f !important; color:#fff !important;
}

#drop a:active, #drop a:focus{color:#fff; }

#upload ul{
    list-style:none;
   padding:0px;
  
}

#upload ul li{

    background-color:#243575;

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:16px 30px;


    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/icons4.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}




#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}

.ajax-file-upload-statusbar {
border: 1px solid #0ba1b5;
margin-top: 10px;
width: 420px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 15px
}

.ajax-file-upload-filename {
width: 300px;
height: auto;
margin: 0 5px 5px 0px;

}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 250px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #0ba1b5;
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
   font-weight: bold;
  padding: 15px 20px;
  cursor:pointer;
  line-height:20px;
  height:25px;
  margin:0 10px 10px 0;
  display: inline-block;
  background: #fff;
  border: 1px solid #e8e8e8;
  color: #888;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;
  padding: 6px 10px 4px 10px;
  color: #fff;
  background: #2f8ab9;
  border: none;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  vertical-align: middle;
  }

.ajax-file-upload:hover {
      background: #3396c9;
      -moz-box-shadow: 0 2px 0 0 #15719f;
      -webkit-box-shadow: 0 2px 0 0 #15719f;
      box-shadow: 0 2px 0 0 #15719f;
}

.ajax-upload-dragdrop
{

  border:2px dotted #A5A5C7;
  width:420px;
  color: #DADCE3;
  text-align:left;
  vertical-align:middle;
  padding:10px 10px 0px 10px;
}

.state-hover
{
    border:2px solid #A5A5C7;
}
.ajax-file-upload-container
{
  margin:20px 0px 20px 0px;
}

/*  End Upload Form  */


.footer-img {width:22%; margin-top:10px;}

/*.dropbox-dropin-btn {background: #d4af37 !important;
    border-radius: 7px !important;
    margin-top: 14px !important;
    padding: 9px 30px !important;
	font-size: 15px !important;
	letter-spacing: 1px !important;
	color: #fff !important;
	transition: all 0.3s ease !important;
	-ms-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; display:block !important; font-weight:normal !important;
	}
	
.dropin-btn-status {display:none !important;}*/

.klogo {display:none !important;}

pre {background:transparent !important; border:none !Important;}

.control-group h5, .control-group label {text-transform:none !Important; color:#1c2857 !important;}
/*googgle


body {
  font-family: "open sans", arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

.container {
  margin-top: 7%;
  margin-bottom: 50px;
}

.logo {
  height: 77px;
}

.heading-headline {
  color: #404040;
  font-size: 48px;
  font-weight: 300;
}

/* General button style (reset) 
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 6px 60px;
  display: inline-block;
  margin: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn:active {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

/* Button 2 
.btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 2c 
.btn-2c {
  border-radius: 5px;
}

.btn-2c .btn-blue:hover {
  box-shadow: 0 4px #3168CA;
  top: 2px;
}

.btn-2c .btn-blue:active {
  box-shadow: 0 0 #3168CA;
  top: 6px;
}

.btn-blue {
  background: #4386fc;
  box-shadow: 0 4px #3168CA;
}

.btn i {
  font-size: 35px;
  vertical-align: middle
}

.dashed-border {
  margin-top: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 8px;
}

.item {

}

.item:hover {
  background: #F3F3F3;
  border-radius: 10px;
}

  .item > a > span.ng-binding {
    display: inline-block;
    height: 63px;
    line-height: 63px;
  }

  .item .icon {
    width: 74px;
    position: relative;
    cursor: pointer;
    float: left;
    height: 63px;
  }

    .item .icon .document {
      height: 46px;
      border-radius: 2px;
      width: 44px;
      margin: 10px 0 2px 5px;
      border: 1px solid #d2dbde;
      background-image: url("images/sprites.png");
      background-position: 8px -2333px;
      background-repeat: no-repeat;
      background-color: white;
    }

      .item .icon .document span {
        font-size: 9px;
        font-weight: 700;
        color: #529fd2;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        display: block;
        padding-top: 5px;
      }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .3;
}
*/

.flot-text {left:12px !important;}

.middle {
    display: inline-block;
    margin-right:0 auto;
  margin-left:0 auto;
    margin: 0 auto;
    float: none !important;
    display: block;
 
}

.drophere{width:100%; margin:10px auto; border:dashed 2px #1c2857; padding-bottom:20px; text-transform:none !important;}

.color {color:#1c2857;}

.google-privacy {display:none !important;}

#chooser {width: 71% !important;border: none !important; margin-top:10px;}


.recaptcha-wrap {height:61px; width:251px; border-bottom:1px solid #d3d3d3; background:#f9f9f9; border-radius:3px;border-left: 1px solid #d3d3d3;
    margin-left: 1px;
    border-right: 1px solid #d3d3d3;}

.g-recaptcha {
 
    height: 63px;
 overflow:hidden; width:308px; margin-left:-1px; margin-top:20px;
}

#box-link {background:#fff !important; width:100%; color:inherit !important; font-size:inherit !important; font-weight:inherit !important; text-transform:none !important;}
#box-link:hover {background:#fff !important; color:#1c2857 !important;}
#box-link:active,#box-link:focus {color:#1c2857 !important}

#box-select, .box-select {
     padding: 9px 30px; width:auto !important; height:auto !important;
    border: none;
    cursor: pointer;
    background: #d4af3d !important; margin-bottom:20px;  margin-top:20px;

}
#box-select:hover { background:#b18b0f !important;}

#box-popup { background-color: #fff;
    padding: 20px 30px 5px 30px;

    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #1c2857; text-transform:none;}
	
	.tran-search-box {padding-left:40px;}
	
	.box-upload {margin-top:0px;}
	
	.mbl-button {
    padding:9px 18px !important;
    }
	.zipcode-table2 {margin-left: 80px;
    width: 80%;}
	
	.zipcode-table2 table td{border-top:none !important;}
	
	.card-dropdown {width:100%; height:35px; padding:5px; color:#333 !important; border-radius:7px;}
	
	.reCaptcha {background:#f9f9f9; padding:0px 10px; border-radius:4px; margin-top:20px; float:left; border:1px solid #d3d3d3;}
	
	.reCaptcha input { float:left;}
	
	.reCaptcha h6{ float:right; margin-right:20px;font-family: Roboto,helvetica,arial,sans-serif; font-size:14px !important; font-weight:400 !important; line-height:40px !important; color:#000 !important;}
	
	.reCaptcha p{color: #9b9b9b;
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center; float:right}
	
	.reCaptcha img {width:37%; float:right; margin-top:7px; margin-right:7px;}
	

	

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}


[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:2px; top: 8px;
  width: 21px; height: 21px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border:1px solid #d3d3d3;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

[type="checkbox"]:checked + label:before {display:none;}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 12px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all 1.3s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1.58);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}


label:hover:before {
  border: 1px solid #cbcaca!important;
}