
@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}


/*  Custom CSS Code  */

.flight-details .modal-dialog {margin-top:140px;}

	a {text-decoration:none;}
	a:hover, a:focus, a:active { text-decoration:none;}
	
.flight-details .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details .input-group {border:2px solid #F7941D; color:#F7941D;background:transparent;}
.flight-details .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details input{ border:none;}

.btn-primary {background-color:#F7941D !important; color:#fff; font-weight:700; border:none; margin-bottom:10px;}
.btn-primary:hover {background-color:#fff !important; color:#F7941D !important; border:2px solid #F7941D;}

.form-group a {color:#F7941D; font-size:17px; text-decoration:none; font-weight:500;margin-top:5px;}
.form-group a:hover {color:#F7941D !important;}

.flight-details2 .modal-dialog {margin-top:40px;}

	a {text-decoration:none;}
	
.flight-details2 .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details2 .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details2 .input-group {border:2px solid #e5e5e5; color:#F7941D;background:transparent;}
.flight-details2 .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details2 input{ border:none;}


.register {background:transparent; color:#F7941D; border:none;}



@media (max-width: 767px) {
	.search-section {margin-top:300px !important;}

}
@media (min-width: 768px) and (max-width: 991px) {
	.search-section {margin-top:280px !important;}
}


.forms { background-color:#fff; padding:20px 10px;overflow:hidden; padding-left:20px !important;}

.forms h2 { font-family: Narkisim !important; color:#F7941D; }



.offer-slider .owl-theme .owl-dots .owl-dot span {display:none;}

.td-overlay {padding:25px 0px 5px;}

.page-title {padding:60px 0px 30px 0px;}

.contact-address {padding:10px 0px;}

.offer-slider .item {color:#fff; FONT-WEIGHT:800; background: rgba(0, 0, 0, 0.5); padding-left:10px;}
.offer-slider .item h3 {line-height:50px;}

.choose-us-row { padding:25px 0px;}


#pricing-table { margin:23px auto;}

.search-section { margin-top:20px !Important;}

.navbar-toggle {background-color:#000 !important;}




@media screen and (max-width: 409px) and (min-width: 320px) {

.user-logged { margin-bottom:20px;}

#pricing-table #most-popular {top:0px !important;}

.active {
    background-color: #d4af37 !important;
    color: #fff;
    padding: 15px 15px 15px 15px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}
.suri {
    float: left;
    background: rgba(10, 49, 82, 0.5);
    color: #fff;
    padding: 10px 15px 10px 15px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}

.submit-review {

    padding: 10px 37px !important;
}
}
@media screen and (max-width: 991px) and (min-width: 410px) {
	 
	#pricing-table #most-popular {top:0px !important;}
	
	
	.user-logged { width:15%; margin-bottom:20px;}
	
	#supersized img {max-width:100%;height:400px !important;display:block}
 
 .full-width-search {height:400px !important; width:100%;}
 
 .tran-search-box {margin-top:-40px !important;}
 .section-title {padding-top:0px !Important;}
	
}
.navbar-default .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 992px) and (max-width: 1095px) {
	.transparent-menu .navbar-nav > li > a {padding:10px 8px !important;}
}

.transparent-menu .navbar-nav > li > a {text-transform:none !important;}


#supersized img {max-width:100%;height:auto;display:block}
@media screen and (max-width: 409px) and (min-width: 320px) {
 #supersized img {max-width:120%;height:400px !important;display:block}
 
 .full-width-search {height:420px !important; width:100%;}
 
 .tran-search-box {margin-top:-40px;}
 .section-title {padding-top:0px !Important;}
 
 
}



.mail-dropdown {padding:10px; width:100%;}
.phone-dropdown {padding:10px; width:100%;}

.or-text { margin-right:12px; margin-top:24px; float:left; color:#fff; font-size:18px; }

/*   Verify POPup   */

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 19px;
    color: #1c2857;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #1c2857; font-size:16px;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-custom .modal-header { 

border-bottom: 3px solid #1c2857;


 }

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}


.btn-success:hover {color:#fff;}
.btn-danger:hover {color:#fff;}
.check-icon {color:green; font-size:40px !important;}
.close-icon {color:red; font-size:40px !important;}

.wrong-phone {margin-top:110px;}
.right-phone {margin-top:110px;}

.upload-file {
    padding: 100px 0px;
    background: #f7f7f7;
    overflow: hidden;
}

.folder {padding:5px 0px; background-color:#fff; margin-right:20px; float:left; cursor:pointer;}
.folder img {width:70%;}
.folder p {text-align:center;}

.mynewclass {background:rgba(84, 116, 243, 0.4); padding:5px 0px; margin-right:20px; float:left; border-radius:10px; cursor:pointer;}
.mynewclass img {width:70%;}
.mynewclass p{text-align:center;}

.folders {margin-top:30px; margin-bottom:40px;}


/* Phone Validation Report CSS  */


.main-sub{
    background-color: #fff;
    padding: 15px !important;
    border-radius: 6px; margin-top:65px;
}

.mymain-footer {
	 margin-top: 25px;
}

.main-footer-sub-button {
    height: 40px;
    border:1px solid #0061b8;
    background: none;
    color: #0061b8;
    width: 100%;
    font-weight: bold;
    
}
.email-header h4 {
	
    color: #1e1f21;
    margin-top: 0px;
    text-transform: inherit;
    font-weight: 600 !important;
    margin-bottom: 15px;
    letter-spacing: 1px;
	

}
.email-header h3 {
	color: #1e1f21;
    margin-top: 0px;
    text-transform: inherit;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 16px;
	margin-left:15px;
}
.ilist-icon {
	padding-left:20px;
}
.ilist-clr {
	color:#b3b3b3 !important;
}
.badge.bg-info {
    background: #57be93;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge1.bg-info {
    background: #f36c4f;
}
.badge1 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge2.bg-info {
    background: #707070;
}
.badge2 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge3.bg-info {
    background: #c2d0d0;
}
.badge3 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge4.bg-info {
    background: #FFFFFF;
}
.badge4 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #b3b3b3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge5.bg-info {
    background: #f4b966;
}
.badge5 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge6.bg-info {
    background: #c1db9d;
}
.badge6 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.badge7.bg-info {
    background: #72cef7;
}
.badge7 {
    display: inline-block;
    min-width: 10px;
    padding: 4px 5px 4px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 3px;
    width: 70px;
    text-align: right;
}
.main-footer {
    padding: 40px 0px;
    background: #07253F;
}

.main-footer .links ul, .we-accept ul, .main-footer-nav ul {
    list-style-type: none;
    padding: 0px;
}
.clear-padding {
    padding: 0;
}
.we-accept {
    padding: 30px 0px 0px;
}



/*progress report*/
.tile-progress {
background-color: #5cb85c;
color: #fff; padding-top:14px; overflow:hidden;
}
.tile-progress {
background: #5cb85c;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.tile-progress .tile-header {
    padding: 2px 10px; overflow:hidden;
    /* padding-bottom: 40px; */
}
.tile-progress .tile-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.tile-progress .tile-progressbar span {
background: #fff;
}
.tile-progress .tile-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
padding:1px 8px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
background-color: #f56954;
color: #fff;
}
.tile-progress {
background-color: #5cb85c;
color: #fff;
}
.tile-progress.tile-blue {
background-color: #0073b7;
color: #fff;
}

.tile-progress.tile-mobile {
background-color: #d4af37;
color: #fff;
}

.tile-progress.tile-landline {
background-color: #e1d11f;
color: #fff;
}

.tile-progress.tile-aqua {
background-color: #00c0ef;
color: #fff;
}
.tile-progress.tile-green {
background-color: #00a65a;
color: #fff;
}
.tile-progress.tile-cyan {
background-color: #00b29e;
color: #fff;
}
.tile-progress.tile-purple {
background-color: #ba79cb;
color: #fff;
}
.tile-progress.tile-pink {
background-color: #ec3b83;
color: #fff;
}
.tile-header h3{margin-top:0px;margin-bottom:0px;}

/*progress horizontal bar*/

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar-success {
    background-color: #5cb85c;
 
}
.progress-bar-warning {
    background-color: #0073b7;

}
.progress-bar-danger {
    background-color: #d9534f;
  
}
.progress-bar-primary {
    background-color: #00c0ef;
  
}

.progress-bar.active {margin-right:0px !important; border-radius:0px !important; line-height:0px !Important; padding-top:10px !Important;}

.valid-check{position:relative;}

.valid-check:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -60px;
  left: 155px;
  content:  "\f00c"; font-size:90px; opacity:0.3;
}

.invalid-check{position:relative;}

.invalid-check:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: -60px;
  left: 176px;
  content:  "\f00d"; font-size:90px; opacity:0.3;
}

.mobile-check{position:relative;}

.mobile-check:before {
  position: absolute;
  font-family: 'FontAwesome';
 top: -60px;
  left: 196px;
  content: "\f10b"; font-size:90px; opacity:0.3;
}

.landline-check{position:relative;}

.landline-check:before {
  position: absolute;
  font-family: 'FontAwesome';
 top: -60px;
  left: 167px;
  content: "\f095"; font-size:90px; opacity:0.3;
}

#test-circle2{padding-right:20px;}
#test-circle3{padding-right:20px;}
#test-circle4{padding-right:20px;}
#test-circle5{padding-right:20px;}

/* End Report  */


	
/* Email Report  */

.email-icon {float:left;}
.email-icon span {width:11%; float:left; padding-right:7px;}

.email-icon h4{color: #1e1f21;
    margin-top: 7px;
    text-transform: inherit;
    font-weight: 600 !important;
    margin-bottom: 15px;
    letter-spacing: 1px;}
	
.email-blocks {margin-top:55px;}

.email-progress {
background-color: #5cb85c;
color: #fff; overflow:hidden;
}
.email-progress {
background: #5cb85c;
color: #fff;
margin-bottom: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.email-progress .email-icon-header {
  overflow:hidden;
    /* padding-bottom: 40px; */
}
.email-progress .email-progressbar {
height: 2px;
background: rgba(0,0,0,0.18);
margin: 0;
}
.email-progress .email-progressbar span {
background: #fff;
}
.email-progress .email-progressbar span {
display: block;
background: #fff;
width: 0;
height: 100%;
-webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
-o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.email-progress .email-footer {
padding:1px 8px;
text-align: right;
background: rgba(0,0,0,0.1);
-webkit-border-radius: 0 0 3px 3px;
-webkit-background-clip: padding-box;
-moz-border-radius: 0 0 3px 3px;
-moz-background-clip: padding;
border-radius: 0 0 3px 3px;
background-clip: padding-box;
-webkit-border-radius: 0 0 3px 3px;
-moz-border-radius: 0 0 3px 3px;
border-radius: 0 0 3px 3px;
}
.email-progress.email-red {
background-color: #f56954;
color: #fff;
}
.email-progress {
background-color: #5cb85c;
color: #fff;
}
.email-progress.email-blue {
background-color: #0073b7;
color: #fff;
}

.email-progress.email-gold {
	background-color:#d4af37;
	color:#fff;
	
}

.email-progress.email-dark-blue {
	background-color:#1c2857;
	color:#fff;
	
}
.email-progress.email-aqua {
background-color: #00c0ef;
color: #fff;
}
.email-progress.email-green {
background-color: #00a65a;
color: #fff;
}
.email-progress.email-cyan {
background-color: #00b29e;
color: #fff;
}
.email-progress.email-purple {
background-color: #ba79cb;
color: #fff;
}
.email-progress.email-pink {
background-color: #ec3b83;
color: #fff;
}

.email-risk {background:red;}
.email-icon-header h5{margin-top:0px;margin-bottom:0px; line-height:20px !important;}

#svg {
  width: 500px;
  height: 300px;
}

.email-progress p{margin-bottom:0px !important;}

.download-btn {margin-left:30px; margin-right:5px; color:#fff;}

.suri-table {width:60%; margin:10px auto;}
.suri-table td {border:none !important;}


.email-result {text-align:left;}

.suri-email {width:500px !important;margin-top:110px;}

.valid{color:green;}
.invalid {color:red;}

.recaptcha {margin:20px 0px;}

.email-label {font-weight:700; text-align:right; padding-left:75px !important;}

.phone-table {width:80%; margin:10px auto; margin-left:70px;}
.phone-table td {border:none !important;}

.phone-label {font-weight:700; text-align:right;}
.phone-result {text-align:left;}

.phone-label-wrong {font-weight:700; text-align:right;}
.phone-result-wrong {text-align:left;}

.phone-table-wrong {width:60%; margin:10px auto; margin-left:70px;}
.phone-table-wrong td {border:none !important;}

.progress-bar-unknown { background-color:#d4af37;}

.zipcode-table {width:65%; margin:10px auto;}
.zipcode-table td {border:none !important;}

.btn-custom {background-color: #d4af37;
    border: none; color:#fff !important;}
	
	.btn-custom:hover {background-color:#b18b0f !important; color:#fff !important;}
	
	.valid-email {background-color:#1c2857;}
	.disposal-email {background-color:#e1d11f;}
	
	/*  Upload File   */
	
	.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    font-size: 15px;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding:10px 7px; text-transform:none !important; margin-top:15px; border-radius:7px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d4af37;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #d4af37;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

.upload-btn { padding:9px 10px !important;}

#changeFilene {color:#fff;}