
/*  Custom CSS Code  */

.flight-details .modal-dialog {margin-top:140px;}

	a {text-decoration:none;}
	a:hover, a:focus, a:active { text-decoration:none;}
	
.flight-details .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details .input-group {border:2px solid #F7941D; color:#F7941D;background:transparent;}
.flight-details .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details input{ border:none;}

.btn-primary {background-color:#F7941D !important; color:#fff; font-weight:700; border:none; margin-bottom:10px;}
.btn-primary:hover {background-color:#fff !important; color:#F7941D !important; border:2px solid #F7941D;}

.form-group a {color:#F7941D; font-size:17px; text-decoration:none; font-weight:500;margin-top:5px;}
.form-group a:hover {color:#F7941D !important;}

.flight-details2 .modal-dialog {margin-top:40px;}

	a {text-decoration:none;}
	
.flight-details2 .modal-header { background-color:#F7941D;}
.close {opacity:0.8;color:#fff;}
.flight-details2 .modal-header h3 { font-weight:bold; text-align:center; color:#fff;}

.flight-details2 .input-group {border:2px solid #e5e5e5; color:#F7941D;background:transparent;}
.flight-details2 .input-group-addon {background:transparent; border:none; color:#F7941D;}
.flight-details2 input{ border:none;}


.register {background:transparent; color:#F7941D; border:none;}



@media (max-width: 767px) {
	.search-section {margin-top:300px !important;}

}
@media (min-width: 768px) and (max-width: 991px) {
	.search-section {margin-top:280px !important;}
}


.forms { background-color:#fff; padding:20px 10px;overflow:hidden; padding-left:20px !important;}

.forms h2 { font-family: Narkisim !important; color:#F7941D; }



.offer-slider .owl-theme .owl-dots .owl-dot span {display:none;}

.td-overlay {padding:25px 0px 5px;}

.page-title {padding:60px 0px 30px 0px;}

.contact-address {padding:10px 0px;}

.offer-slider .item {color:#fff; FONT-WEIGHT:800; background: rgba(0, 0, 0, 0.5); padding-left:10px;}
.offer-slider .item h3 {line-height:50px;}

.choose-us-row { padding:25px 0px;}

.light-section-title { padding-top:45px; }

#pricing-table { margin:23px auto;}

.search-section { margin-top:20px !Important;}

.navbar-toggle {background-color:#000 !important;}




@media screen and (max-width: 409px) and (min-width: 320px) {

.user-logged { margin-bottom:20px;}

#pricing-table #most-popular {top:0px !important;}

.active {
    background-color: #d4af37 !important;
    color: #fff;
    padding: 15px 15px 15px 15px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}
.suri {
    float: left;
    background: rgba(10, 49, 82, 0.5);
    color: #fff;
    padding: 10px 15px 10px 15px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 2px 2px 0 0;
    margin-right: 4px;
}

.submit-review {

    padding: 10px 37px !important;
}
}
@media screen and (max-width: 991px) and (min-width: 410px) {
	 
	#pricing-table #most-popular {top:0px !important;}
	
	
	.user-logged { width:15%; margin-bottom:20px;}
	
	#supersized img {max-width:100%;height:400px !important;display:block}
 
 .full-width-search {height:400px !important; width:100%;}
 
 .tran-search-box {margin-top:-40px !important;}
 .section-title {padding-top:0px !Important;}
	
}
.navbar-default .navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 992px) and (max-width: 1095px) {
	.transparent-menu .navbar-nav > li > a {padding:10px 8px !important;}
}

.transparent-menu .navbar-nav > li > a {text-transform:none !important;}


#supersized img {max-width:100%;height:auto;display:block}
@media screen and (max-width: 409px) and (min-width: 320px) {
 #supersized img {max-width:120%;height:400px !important;display:block}
 
 .full-width-search {height:420px !important; width:100%;}
 
 .tran-search-box {margin-top:-40px;}
 .section-title {padding-top:0px !Important;}
 
 
}



.mail-dropdown {padding:10px; width:100%;}
.phone-dropdown {padding:10px; width:100%;}

.or-text {margin-left:20px; margin-right:30px; margin-top:24px; float:left; color:#fff; font-size:20px; font-weight:700;}

/*   Verify POPup   */

.modal-content {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 6px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 40px rgba(0,0,0,.5);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
    color: #000;
    background-color: #fff;
    border: rgba(0,0,0,0);
}
.modal-message .modal-dialog {
    width: 300px;
}
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 19px;
    color: #1c2857;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #1c2857; font-size:16px;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa, 
.modal-message .modal-header 
.glyphicon, .modal-message 
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #57b5e3;
    border-bottom: 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}


.wrong-email {margin-top:110px;}
.right-email {margin-top:110px;}

.btn-success:hover {color:#fff;}
.btn-danger:hover {color:#fff;}
.check-icon {color:green; font-size:40px !important;}
.close-icon {color:red; font-size:40px !important;}

.wrong-phone {margin-top:110px;}
.right-phone {margin-top:110px;}