#wrap{
 background-color:#fff; padding:75px 60px 60px 60px;overflow:hidden;
}
#accordian{
  width:100%;
}

#accordian h3 { margin-bottom:18px;}

#accordian .number{
  
  background:#fff;
  color:#888;
  font-size:18px;
  padding:1px 9px;
  text-align: center;
  border-radius:50%;
  float:left;
}
#accordian .step{
  width:100%;
  background:#1c2857;
  color:#FFF;
 padding:10px 20px;
  border-bottom:3px solid #fff;
  border-radius:2px;
  float:left;
}
#accordian .title{
  float:left;
  width:80%;
 
  margin-left:20px;
  font-size:1em;
  font-weight:300;
}
#accordian .title h4{

  font-weight:400;
  margin-top:5px;
  margin-bottom:0px; float:left;

}

#accordian .title span {float:left; margin-right:15px; font-size:25px;}
#accordian .modify{
  float:left;

  color:#aaa;
  background:#FFF;
  text-align:center;
  font-size:4em;
  border-radius:50%;
  margin-top:5px;
  padding-top:0px;
  cursor:pointer;
}
#accordian .modify i{
  margin-top:0px;
  display:block;
}
#accordian .content{
  padding:10px 20px;
  width:100%;
  margin:0 auto;
  background:#FFF;
  height:auto;
  display:block;
  float:left;
}
#accordian .content label{
  font-size:16px;
}
#accordian .content input{
  padding:6px 15px;
  border:1px solid #1c2857;
  border-radius:3px;
  display:inline-block;
  font-size: 16px;
}
#accordian .content button{
  display:block;
  margin-bottom:10px;
  border:0;
  padding:5px 15px;
  font-size:15px;
  color:#FFF;
  border-radius:5px;
  clear:both;
}
#accordian .content .continue{
  display:block;
  border:0;
  padding:7px 15px;
  font-size:17px;
  color:#FFF; letter-spacing:0px !important; margin-top:30px !important;
 
  border-radius:5px;
  clear:both;
  text-align:center;
  text-decoration: none;
  margin-top:15px;
}
#accordian #address label{
  width:100px;
  display:inline-block;
}

#accordian .select{
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  margin-left:0;
  margin-bottom: 5px;
  border: 1px solid #1c2857;
  border-radius: 3px;
  display: inline-block;
}
#accordian .country_options label,
#accordian .state_options label{
  background: #fff;
  color: #1c2857;

  z-index: 2;
  top: 7px;
  text-align:left;
}
#accordian .state_options select,
#accordian .country_options select{
  background: transparent;
  display:inline-block;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius:0; color:#1c2857;
 
}
#accordian #address label.state,
#accordian #address label.country{
  display:block;
  float:left;
}
#accordian #address input[type="checkbox"]{
  width:30px;
}
#accordian #address label.same,
form.go-right input:focus + label.same{
  width:300px;
  padding:0 30px;
  margin-right:0;
  top:0;
  left:30px;
  background:transparent;
  color:initial;
  text-transform:uppercase;
}
#accordian #shipping input[type="radio"]{
  width:30px;
}
#accordian #shipping div{
  margin-top:5px;
}
#accordian #shipping label{
  padding:0;
}
#accordian #shipping .price{
  text-align:center;
  display:inline-block;
}
#accordian #payment #card_number{
 
}

#accordian #payment label{
  display:inline-block;
}
#accordian #payment .expiry{
 
}
#accordian #payment label.exp_date{
  
  background: #fff;
  color: #1c2857;
 margin-bottom:0px;
 text-transform:none !important;
  width: 33%;
  text-align:left;
  float:left;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
 font-size:16px; padding:5px 0px;
}
#accordian #payment .month_select,
#accordian #payment .year_select{
  width: 176px;
 
  border: 1px solid #1c2857;
  border-radius: 2px;
  display: inline-block;
}
#accordian #payment span.divider{
  font-size: 16px;
  display: inline-block;
  padding-left:5px;
  padding-right:5px;
  margin-top:-10px;
}
#accordian .month_select select,
#accordian .year_select select{
  background: transparent;
  display:inline-block;
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius:0;
}

#accordian #payment .expiry{
  display:block;
  float:left;
}
#accordian #payment .sec_num{
  margin-top:10px; width:47%; 
}
#accordian .credit_card{
  padding:10px 0px; overflow:hidden; text-align:center;
}
#accordian #payment .sec_num input{ width:100%; margin-top:15px; float:left;
}
#accordian .accepted{
  width:100%;
 overflow:hidden;
  margin-top:6px;
}
#accordian .accepted span{
  display: initial;
  padding:3px;
}
#accordian .secured {
  margin-top:5px;
  padding-left:1em;
  padding-right:1em;
}
#accordian .secured .lock{
  float:left;
  padding:3px;
  width:21%;
}
#accordian .secured .security{
  float:left;
  margin-right:5px;
  font-style: italic;
  color:#aaa;
  width:78%;
}
#accordian #ordered{
  padding-right:1em;
}
#accordian #reviewed{
  padding-left:1em;
}
#accordian .products{
  width:100%;
  float:left;
  padding-bottom:3px;
  border-bottom:3px solid #aaa;
}
#accordian .products .product_image{
  width:20%;
  float:left;
  margin-left: 10%;
}
#accordian .products .product_details{
  width:77%;
  display: table;
  vertical-align: middle;
}
#accordian .products .product_details span{
  display:table-cell;
  vertical-align: middle;
  margin-top:30%;
  font-size: 20px;
  color:#aaa;
}
#accordian .totals{
  width:100%;
  float:left;
  border-bottom:3px solid #aaa;
}
#accordian .totals .subtitle{
  font-size:22px;
  display:block;
  text-align: right;
  color:#aaa;
  width:95%;
  margin-right:5%;
}
#accordian .totals .subtitle .sub_price{
  font-style:italic;
  width:100px;
}
#accordian .final{
  width:100%;
  float:left;
  font-size:22px;
  text-align: right;
  color:#888;
}
#accordian .final .title{
  width:95%;
  margin-right:5%;
  font-weight:bold;
}
#accordian #reviewed .title{
  width:100%;
  font-size:20px;
  float:left;
}
#accordian #reviewed .billing,
#accordian #reviewed .shipping{

  float:left;
  margin-bottom:5px;
}
#accordian #reviewed .billing .address_reviewed,
#accordian #reviewed .shipping .address_reviewed,
#accordian #reviewed .payment .payment_reviewed{
  color:#333;
  font-size:17px;
  float:left; margin-left:30px;
}
#accordian #reviewed .billing .address_reviewed span,
#accordian #reviewed .shipping .address_reviewed span,
#accordian #reviewed .payment .payment_reviewed span{
  display:block;
}
#accordian #reviewed #complete{
  float:left;
  width:100%;
	margin-top:15px;
}
#accordian #reviewed .big_button{
  clear:both;
  display:block;
  width:70%;
  margin:0 auto;
  padding:7px 15px;
  color:#fff;
  font-size:22px;
  text-decoration: none;
  background:#1c2857;
  text-align:center;
  border-radius: 2px;
}

#accordian #reviewed .big_button:hover{
color:#fff!important;
}

#accordian #reviewed #complete .sub{
  color:#aaa;
  display:block;
  text-align:center;
  margin-top:15px;
  width:80%;
  margin:5px auto;
}
@media(max-width:768px){
  #accordian .left, #accordian .right {
      width: 100%;
      float: left;
  }
}
.payment-form > div {
  overflow: hidden;

  
}
.payment-form input, form textarea {
  width: 100%;

  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
.payment-form input:valid, form textarea:valid {
  background: white;
}
.payment-form input:focus, form textarea:focus {
  border-color: #f06d06;
}
.payment-form input:focus + label, form textarea:focus + label {
  background:#1c2857;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
.payment-form label {
  transition: background 0.4s, color 0.4s, top 0.4s, bottom 0.4s, right 0.4s, left 0.4s;
  color: #1c2857;
 font-weight:normal;
}
.payment-form textarea {
  display: block;
  resize: vertical;
}

.payment-form.go-right label {
  
  width: 100%;
  border-bottom-right-radius:3px;
  border-top-right-radius:3px;
}
.payment-form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}

#accordian .accepted img { width:9%; float:right; margin-right:10px;}

#accordian .content input { margin-bottom:14px;}

#address2 {margin:30px 0px !important;}